
html,body{
  font-weight: 100;
  font-size: 11px;
  font-family: sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 5px;
}

.tableh {
  height: 15px;
  width: 100%;
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3px;
}
.tableh1 {
  height: 15px;
  width: 100%;
  border-bottom: 1px solid  #5D6975;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3px;
}
.tablet {
  width: 100%;
  border-spacing: 0;
  margin-top: -5px;
  margin-bottom: -10px;
}

table tr:nth-child(2n-1) td {
  /*background: #eaeaea;*/
}

table th,
table td {
  text-align: center;

}

table th {
  padding: 3px 3px 1px 6px;
  color: #000;
  border: 1px solid #3c3c3c;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: center;
}

table td {
  padding: 3px 6px 1px 6px;
  text-align: left;
  border: 1px solid #3c3c3c;
}

table td.service,
table td.desc {
  vertical-align: top;

}

table td.unit,
table td.qty,
table td.total {

  text-align: right;
  width: 50%;

}

table td.info {

}

table td.cert {

  text-align: center;
}

table td.certitle {
  font-weight: bold;

  text-align: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
table td.certitle2 {
  border-top: 0px;
  border-bottom: 0px;
}

table td.grand {
  background: #eaeaea;
  font-weight: bold;
}

table th.grand {
  background: #eaeaea;
  text-align: center;
}
.title {
  width: 100%;
  display: block;
  margin-top: 8px;
  margin-bottom: 9px;
  font-size: 16px;
  text-align: center;
}
.title2 {
  margin-bottom: 0px;
  font-size: 14px;
  text-align: right;
}
strong, .bold{
  font-weight: bold;
}
.size-16{
  font-size: 16px;
}
.size-15{
  font-size: 15px;
}
.size-14{
  font-size: 14px;
}
.size-13{
  font-size: 13px;
}
.size-12{
  font-size: 12px;
}
.size-11{
  font-size: 11px;
}
.size-10{
  font-size: 10px;
}
.size-9{
  font-size: 9px;
}
.size-8{
  font-size: 8px;
}
.size-7{
  font-size: 7px;
}
.size-6{
  font-size: 6px;
}
.size-5{
  font-size: 5px;
}
.izq{
  text-align:left;
}
.der{
  text-align:right;
}
#logo {
  text-align: left;
  margin-bottom: 5px;
}
#logo2 {
  text-align: right;
  margin-bottom: 5px;
  margin-right: 15px;
}

#logo img {
  width: 140px;
}

#logo2 img {
  width: 65px;
}
.qr-code{
  width: 100px;
  height: auto;
  margin:0; 
  position: absolute;
  right:0%;
  top: 100%;
}
h4{
  font-size:12px;
  margin:0;
}
.code{
 margin:0;
 border: 1px solid #000;
 padding:0px 5px; 
}
.no-border{
  border:0;
}
.circle{
  width:10px;
  height: 10px;
}
.padding-top{
  width: 33%;
  padding-top:92px;
  text-align:center;
}
table .info_title{
  text-align: center;
}
table .text-left{
  text-align: left;
}
.padding-lr-10{
  padding: 0px 10px;
}
.padding-lr-5{
  padding: 0px 5px;
}
hr.cut-line { 
  border-top: 1px dashed #8c8b8b; 
} 
// hr.cut-line:after { 
//   content: '\002702'; 
//   display: inline-block; 
//   position: relative; 
//   top: -12px; 
//   left: 40px; 
//   padding: 0 3px; 
//   background: transparent; 
//   color: #8c8b8b; 
//   font-size: 18px; 
// }
.hr-line{
  width: 100%;
  border-top: 1px dashed #8c8b8b;
}
.hr-line:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: -5px; 
  background: transparent; 
  color: #8c8b8b; 
  font-size: 18px; 
}
.text-justify{
  text-align: justify;
  text-justify: inter-word;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.main1{
  height: 757px;
  // background:#3b5998;
}
.main-left{
  height: 253px;
  width: 243px;
  // background:red;
  display: inline-block;
  margin-right: 5px;
}
.main-right{
  height: 253px;
  margin:0; 
  width: 453px;
  display: inline-block;
  // background:green;
}
.border-radius{
  border-radius: 5px;
  padding: 3px 6px;
}
.margin-l-10{
  margin-left: 10px;
}
.width-25-por{
  width: 25%
}
.width-20-por{
  width: 20%
}
.width-30-por{
  width: 30%
}